<section id="main">
  <div class="row header">
    <a class="share button button-primary" on-click="share">share</a>

    <a class="button " href="/about">?</a>
    <a class="button u-pull-right" on-click="quit">x</a>

  </div>
  <div class="row content">
    {{#if loading}}
      loading...
    {{else}}
    <table class="u-full-width passwords">
      <thead>
        <td>Unlocked wifis:</td>
      </thead>
      <tbody>
        {{#each wifis}}
        <tr>
          {{#if this.hasOnePassword}}
            <td on-click="copy:{{this.password}}">{{this.name}}</td>
            <td>{{this.security}}</td>
          {{else}}
            <td><a href="/view/{{this.name}}">{{this.name}}</a></td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</section>
